<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Firebase authetication</title>
  </head>
  <body>
    <h1>Firebase login</h1>
    <form action="/signin" method="POST">
    <input type="text" name="email" placeholder="Enter your email"/>
    <input type="password" name="password" placeholder="Enter your pasword"/>
    <input type="submit" value="Sign in"/>
    </form>
    <a href="signup" target="signup">Click here to Sign up</a>
  </body>
  {{!-- <script src="client.js"></script> --}}
</html>